.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  background: cornflowerblue;
  color: lightgray;
  font-size: 26px;
  font-family: sans-serif;
}

.footer__wrapper {
  padding: 10px;
}

.footer__link {
  color: white;
  text-decoration: none;

  &:visited {
    color: white;
    text-decoration: none;
  }

  &:hover, &:active {
    color: white;
    text-decoration: underline;
  }
}

.footer__github {
  float: right;
}
