.forecast {
  display: inline-block;
  vertical-align: top;
  width: 150px;
  height: 200px;
  color: white;
  margin: 5px;
  padding: 5px;
  font-family: sans-serif;
  text-decoration: none;

  &:nth-child(7n+1) {
    background: darkmagenta;
  }

  &:nth-child(7n+2) {
    background: firebrick;
  }

  &:nth-child(7n+3) {
    background: darkorange;
  }

  &:nth-child(7n+4) {
    background: indianred;
  }

  &:nth-child(7n+5) {
    background: lightslategray;
  }

  &:nth-child(7n+6) {
    background: midnightblue;
  }

  &:nth-child(7n+0) {
    background: cornflowerblue;
  }
}

.forecast__title {
  font-size: 20px;
  text-align: center;
  margin: 10px 0;
}

.forecast__temperature {
  font-size: 32px;
  margin: 15px 0 5px 0;
}

.forecast__minmax {
  margin: 15px 0 5px 0;
}

.forecast__humidity {
  margin-bottom: 5px;
}

.forecast__description {
  font-size: 24px;
}
