%footer.footer
  .footer__wrapper
    = link_to 'Forecastie', root_path, class: 'footer__link'
    Created by Attila Horváth in 2016
    = link_to 'Fork it on GitHub', 'https://github.com/attilahorvath/forecastie', class: 'footer__link footer__github'
